<body style="background-image: url('./BG.jpg'); background-color: aqua;">
<h3>Library Name: <%= library.Name %> </h3>
<h4>Library ID: <%= library.ID %> </h4>
<h4>Librarian ID: <%= library.librarianID %></h4>
<p><i>Number of book avaiable  :<b> <%= library.avaiable %></b></i></p>
<p><i>Number of book unavaiable:<b> <%= library.unavaiable %></b></i></p>
</body>