<h2 style="text-align: center;"><i>Student Name: <b style="color: blue;"> <%= name %></b></i></h2>
<form action="/student/studentReturn" method="post" enctype="multipart/form-data">   
<p><b>You are borrowing these books:</b></p>

<% if (number>1) { %>
    <% for (let i=1; i<= number; i++) { %>
    <nobr>
        <input type="checkbox" name="borow" value="<%= books[i-1] %>" > 
        <%= i %> . <%= books[i-1] %></nobr>
    <br>
    <% } %> 
    <% } else {  %>
        <nobr> 
            <input type="checkbox" name="borow" value="<%= books %>" ><nobr>
            <% if(number==1){%> <p> 1.<%= books %></p> <% }} %> 
        </nobr>


    <button type="submit" name="borower" value ="<%= name %>">Return</button>
</form>